/*COMMENTS HERE*/


body {
	margin-left: 25px;
	text-align: ;
	background-image: url('../images/background_V2.png');
	background-size: cover;
	background-color: rgb(15,115,238);
}

h1, h2 {
	font-family: helvetica;
	color: white;
	background-color: rgb(15,115,238);
	display: inline-block;
	margin: max 80px;
}

p, a {
	color: white;
 	font-family: courier;
 	font-size: 18px;
 	background-color: rgb(15,115,238);
 	display: inline-block;
}

h1 {
	font-size: 100px;	
	padding-top: 50px;
	}

h2 {
	font-size: 24px;
	max-width: 800px;
}

a {
	font-family: courier;
	text-decoration: none;


}

img {
	background: none;
}

#slogan {
	font-family: courier new;
	font-size: 20px;
}

#logo {
	max-width: 50px;
	padding-top: 25px;
}
